body {
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(90deg, #a100ffff 0%, #71c4ffff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

input {
  border: 0;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

button {
  border: 0;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #333;
}

button:hover {
  background-color: #000;
  cursor: pointer;
}

#output {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
